* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}


.login-container {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh; 
}


.login-form {
  flex: 1;
  max-width: 420px;
  width: 100%;
  background: #b19537f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}


.logo {
  width: 220px;
  max-width: 80%;
  margin-bottom: 20px;
  border-radius: 50%;
}


form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: #eae2a3;
  width: 100%;
  font-size: 14px;
}

button {
  padding: 12px;
  border: none;
  background: #4a90e2;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
  font-size: 14px;
}

button:hover {
  background: #357abd;
}

#error {
  color: red;
  margin-top: 10px;
  text-align: center;
}


.login-image {
  flex: 2;
  background: url('WhatsApp Image 2026-04-05 at 18.37.35.jpeg') no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}


.login-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
  transform: skewX(-25deg);
  animation: shine-image 2.5s infinite linear;
}

@keyframes shine-image {
  0% { left: -75%; }
  100% { left: 125%; }
}

/* ================= TABLET ================= */
@media (max-width: 992px) {

  .login-form {
    flex: 1;
  }

  .login-image {
    flex: 1;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 768px){

  .login-container {
    flex-direction: column;
  }

  .login-form {
    order: 2;
    width: 100%;
    min-height: auto;
    padding: 25px 20px;
  }

  .login-image {
    order: 1;
    width: 100%;
    height: 35vh;
  }

  .logo {
    width: 140px;
  }
}


@media (max-width: 480px){

  .login-image {
    height: 30vh;
  }

  .logo {
    width: 110px;
  }

  input {
    padding: 10px;
    font-size: 13px;
  }

  button {
    padding: 10px;
    font-size: 13px;
  }
}
